div {
  /*border: 1px solid white;*/
}


html{
	scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  background-image: url(pix/web-background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

header {
  font-size: 32px;
  background-color: black;
  color: white;
}

#navbar:hover{
	opacity: 0.85;
	transition: 1s;
}

#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  background-color: black;
  z-index: 5;
  /*border: 1px solid white;*/
  margin-left: -10px;
}

.home {
  display: flex;
  padding: 10px;
  flex: 1;
}
.navigation {
  display: flex;
  padding: 10px;
  padding-right: 20px;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: auto;
}

a.nav {
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
a.nav:hover {
  background-color: white;
  color: black;
}

div.nav {
	width: auto;
	display: flex;
	padding: 10px;
	flex: 1;
	padding-left: 1%;
	margin-left: 50px;
	float: right;
}

#welcome-section {
  margin-top: 100px;
  height: 500px;
  text-align: center;
  align-items: center;
  padding-top: 200px;
  transition: transform 2s ease-in-out;
  border: 1px solid white;
  border-radius: 2%;
}
h1.welcome {
  font-size: 64px;
}

#welcome-section:hover {
  transform: rotateX(-360deg);
  /*color: black;
  background-color: white;*/
  transition: 2s;
}

div.container {
  margin: 0 auto;
  display: flex;
  height: auto;
}

div.left-container {
  flex: 1;
  padding: 10px;
}
/*
div.left-container:hover{
	background-color: white;
	transition: 2s;
}
div.right-container:hover{
	background-color: white;
	transition: 2s;
}
*/

div.in-container {
  width: 80%;
  margin: 0 auto;
  flex: 2;
  padding: 10px;
  background-color: #111111;
}

div.right-container {
  flex: 1;
  padding: 10px;
}

.center {
  text-align: center;
}

.project-tile {
  width: 95%;
  height: 100%;
  float: left;
  margin: 10px;
  justify-content: center;
  padding-bottom: 10px;
  transition: 0.5s;
  filter: grayscale(75%);
  background-color: #222222;
  padding-top: 20px;
}

.project-tile:hover {
  filter: grayscale(0%);
}

#projects {
  height: auto;
  justify-content: center;
}

#projects-section {
  height: auto;
}

.project-img {
  width: 80%;
}

a.tile {
  color: white;
}

section {
  height: auto;
}

div.logo-link {
	justify-content: center;
}

img.logo-poster {
	width: 80%;
}

img.logo-poster:hover {
	background-color: white;
	transition: 1s;
}


.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  padding-top: 40px;
  background-color: #333333;
  margin-right: 20px;
  margin-left: -10px;
  margin-bottom: -10px;
}

.fab {
  font-size: 50px;
  padding: 15px;
  color: gray;
}

.fab:hover {
  color: white;
  transition: 0.5s;
}

i.fa-spotify:hover {
	color: #1ed760;
}

i.fa-bandcamp:hover {
	color: #629aa9;
}

img.p-pic {
  width: auto;
  height: 130px;
  border-radius: 100%;
  filter: grayscale(50%);
  transition: 0.5s;
}
img.p-pic:hover {
  filter: grayscale(0%);
}

p.profile-text {
  margin-top: -10px;
}

a.tile-link {
	color: white;
}

a.tile-link:hover {
	color: black;
}

a.tile-link:visited {
	color: white;
}

div.parag {
	padding-left: 10px;
	padding-right: 10px;
}

.mfContainer {
	width: 90%;
	height: auto;
	text-align: center;
	margin:0 auto;
	display: flex;
	justify-content: center;
}

.mini-feat{
	width: 25%;
	margin: 1%;
	background-color: #111111;
	height: 200px;
	padding: 1%;
	justify-content: center;
}

.mini-feat:hover{
	background-color: #222222;
	transition: 1s;
	transform: scale(1.2);
	z-index: 5;
}

.mini-container{
	display: flex;
	justify-content: center;
	height: 80%;
}

.mini-container:hover{
	transition: 1s;
}

.mini-items{
	margin-left: 2%;
	margin-right: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	/*filter: grayscale(90%);*/
}

.mini-items:hover {
	transition: 1s;
	transform: scale(1.2);
	filter: none;
}

.imini {
	font-size: 500%;
}



img.mini-album{
	height: 50%;
	/*filter: grayscale(90%);*/
}

img.mini-single{
	width: 76%;
}

img.mini-album:hover{
	filter: none;
	transition: 1s;
	transform: scale(1.2);
}

div.descCon{
	display: flex;
	justify-content: center;
}

div.description{
	width: 80%;
	text-align:center;
}

.mini-profile {
	height: 50%;
	border-radius: 50%;
}

div.single-div{
	  height: 80%;
}

img.mini-single{
	height: 100%;
	width: auto;
}


a:link { 
	text-decoration: none;
	color: white;
}


a:visited { 
	text-decoration: none;
	color: white;
}


a:hover { 
	text-decoration: none;
	color: white;
}


a:active {
	text-decoration: none;
	color: white;
}


@media only screen and (max-width: 800px) {
  div.right-container {
    flex: 0;
  }
  div.left-container {
    flex: 0;
  }
  div.nav{
	  margin-left: 1%;
  }
  div.mfContainer{
	  display: block;
	  justify-content: center;
  }
  div.mini-feat{
	  width: auto;
  }
  img.mini-single{
	  height: 100%;
	  width: auto;
  }
  div.single-div{
	  height: 80%;
  }
  .project-tile {
	  filter: none;
  }
  .mini-profile {
	height: 50%;
  }
  header{
	  font-size: 18px;
  }
  body{
	  background-size: auto;
	  
  }
}

