div {
  /*border: 1px solid white;*/
}

body {
  background-color: black;
  color: white;
}

header {
  font-size: 32px;
  background-color: black;
  color: white;
}


#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  background-color: black;
  z-index: 5;
  border: 1px solid white;
  margin-left: -10px;
}

.home {
  display: flex;
  padding: 10px;
  flex: 1;
}
.navigation {
  display: flex;
  padding: 10px;
  padding-right: 20px;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  height: auto;
}

a.nav {
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
a.nav:hover {
  background-color: white;
  color: black;
}

div.nav {
	width: auto;
	display: flex;
	padding: 10px;
	flex: 1;
	padding-left: 1%;
	margin-left: 50px;
	float: right;
}

#welcome-section {
  margin-top: 100px;
  height: 500px;
  text-align: center;
  align-items: center;
  padding-top: 200px;
  transition: transform .7s ease-in-out;
  border: 1px solid white;
  border-radius: 2%;
}
h1.welcome {
  font-size: 64px;
}

#welcome-section:hover {
  transform: rotateX(-360deg);
}

div.container {
  margin: 0 auto;
  display: flex;
  height: auto;
}

div.left-container {
  flex: 1;
  padding: 10px;
}

div.in-container {
  width: 80%;
  margin: 0 auto;
  flex: 2;
  padding: 10px;
  background-color: #111111;
}

div.right-container {
  flex: 1;
  padding: 10px;
}

.center {
  text-align: center;
}

.project-tile {
  width: 95%;
  float: left;
  margin: 10px;
  justify-content: center;
  padding-bottom: 10px;
  transition: 0.5s;
  filter: grayscale(90%);
  background-color: #222222;
  padding-top: 20px;
}

.project-tile:hover {
  filter: grayscale(0%);
}

#projects {
  height: auto;
  justify-content: center;
}

#projects-section {
  height: auto;
}

.project-img {
  width: 80%;
}

a.tile {
  color: white;
}

section {
  height: auto;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  padding-top: 40px;
  background-color: #333333;
  margin-right: 20px;
}

.fab {
  font-size: 50px;
  padding: 15px;
  color: gray;
}

.fab:hover {
  color: white;
  transition: 0.5s;
}


img.p-pic {
  width: auto;
  height: 130px;
  border-radius: 100%;
  filter: grayscale(50%);
  transition: 0.5s;
}
img.p-pic:hover {
  filter: grayscale(0%);
}

p.profile-text {
  margin-top: -10px;
}

a.tile-link {
	color: white;
}

a.tile-link:hover {
	color: black;
}

a.tile-link:visited {
	color: white;
}

div.parag {
	padding-left: 10px;
	padding-right: 10px;
}

.mfContainer {
	width: 90%;
	text-align: center;
	margin:0 auto;
	display: flex;
	justify-content: center;
}

.mini-feat{
	width: 25%;
	margin: 1%;
	background-color: #111111;
	height: 200px;
	padding: 1%;
}

div.descCon{
	display: flex;
	justify-content: center;
}

div.description{
	width: 80%;
	text-align:center;
}

@media only screen and (max-width: 800px) {
  div.right-container {
    flex: 0;
  }
  div.left-container {
    flex: 0;
  }
  div.nav{
	  margin-left: 1%;
  }
}

