html {
	cursor: none;
}
.square{
	width: 25px;
	height: 25px;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	transform: rotate(10deg);
	z-index: 99999999; /* so that it stays on top of all other elements */
}

a:hover {
	cursor: none;
	div.square {
		transform: rotate(360deg);
	}
}
